<div class="popup-container">
  <div class="m-b-30">
   
  <div class="report-header">
    <h2>Site Info</h2>
  </div>

<ag-grid-angular
  class="ag-theme-alpine report-grid"
   theme="legacy"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]="5"
  [groupDisplayType]="'multipleColumns'"
  (gridReady)="onGridReady($event)"
  style="width: 100%; height: 250px"
>
</ag-grid-angular>
</div>
  <div class="m-b-30">
  <div class="report-header">
    <h2>Camera Info</h2>
  </div>

  <ag-grid-angular
    class="ag-theme-alpine report-grid"
     theme="legacy"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="5"
    (gridReady)="onGridReady($event)"
    style="width: 100%; height: 250px"
  >
  </ag-grid-angular>
</div>
  <div class="report-header">
    <h2>Employee Info</h2>
  </div>

  <ag-grid-angular
    class="ag-theme-alpine report-grid"
     theme="legacy"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]="5"
    (gridReady)="onGridReady($event)"
    style="width: 100%; height: 250px"
  >
  </ag-grid-angular>
</div>
