

<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="dashboard-content-section">
      <div class="section-header">
        <h2>DASHBOARD</h2>
      </div>

      <!-- Calendar Section -->
      <div class="calendar-section-wrapper">
        <div class="calendar-section">
          <button class="calendar-icon" (click)="openCalendarPopup()">
            <img src="assets/calender.svg" alt="Dashboard" class="nav-icon" />
          </button>

          <div class="calendar-controls">
            <button class="arrow left-arrow" (click)="changeDate(-1)">←</button>

            <div *ngIf="selectedDate" class="selected-date">
              <p>{{ selectedDate | date : "dd MMMM, yyyy" }}</p>
            </div>

            <button class="arrow right-arrow" (click)="changeDate(1)">→</button>
          </div>

          <button class="today-button" (click)="setToday()">TODAY</button>
        </div>
      </div>

      <!-- Calendar Popup -->
      <div
        class="calendar-popup-overlay"
        *ngIf="isCalendarPopupOpen"
        (click)="closeCalendarPopup()"
      ></div>

      <div class="calendar-popup" *ngIf="isCalendarPopupOpen">
        <div class="popup-header">
          <h3>Calendar</h3>
          <button class="close-button" (click)="closeCalendarPopup()">✖</button>
        </div>
        <div class="popup-content">
          <mat-calendar
            [(selected)]="selectedDate"
            (selectedChange)="onDateSelected($event)"
          ></mat-calendar>
        </div>
      </div>


      <!-- Dashboard Cards -->
      <div class="cards-row">
        <div
          class="card"
          *ngFor="let card of dashboardCards"
          [ngClass]="card.color"
        >
          <div class="card-top">
            <div class="card-top-left">
              <p
                class="main-number"
                [ngClass]="{ 'red-text': card.color === 'white' }"
              >
                {{ card.value }}
              </p>
              <p
                class="label"
                [ngClass]="{ 'black-text': card.color === 'white' }"
              >
                {{ card.title | uppercase }}
              </p>
            </div>

            <!-- Percentage Circle -->
            <div class="card-top-right" *ngIf="card.percentage !== undefined">
              <div class="circle-chart">
                <div
                  class="circle-bg"
                  [style.background]="getCircleGradient(card.percentage)"
                ></div>
                <div class="circle-text">{{ card.percentage }}%</div>
              </div>
            </div>
          </div>

          <div class="icons-row">
            <!-- Colored Dots -->
            <div class="dots-column">
              <div class="icon" *ngFor="let dot of card.colordot">
                <span
                  class="dot"
                  [ngStyle]="{ 'background-color': dot.iconcolor }"
                ></span>
                <span>{{ dot.count }}</span>
              </div>
            </div>

            <!-- Icons -->
            <div class="icons-group">
              <div class="icon" *ngFor="let icon of card.icons">
                <img [src]="icon.iconPath" alt="icon" />
                <span>{{ icon.count }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SUSPICIOUS Section -->
    <div class="escalated-content-section">
      <div class="section-header">
        <h2>SUSPICIOUS</h2>
      </div>
      <div class="section-body">
        <div class="escalated-section">
          <div class="escalated-card" *ngFor="let e of escalatedDetails">
            <div class="escalated-card-content">
              <h4>{{ e.label }}</h4>
              <p [ngStyle]="{ color: e.color }">{{ e.value }}</p>
            </div>

            <div class="icons">
              <!-- Dots -->
              <div class="dots-column" *ngIf="e.colordot">
                <div class="icon-section" *ngFor="let dot of e.colordot">
                  <span
                    class="dot"
                    [ngStyle]="{ 'background-color': dot.iconcolor }"
                  ></span>
                  <span>{{ dot.count }}</span>
                </div>
              </div>

              <!-- Icons -->
              <div class="icons-group" *ngIf="e.icons">
                <div class="icon-section" *ngFor="let icon of e.icons">
                  <img
                    [src]="icon.iconPath"
                    alt="icon"
                    class="icon-image"
                    [ngClass]="{
                      'cam-icon': icon.iconPath.includes('cam.svg')
                    }"
                  />
                  <span>{{ icon.count }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Charts -->
    <div class="chart-content-section">
      <div class="section-header">
        <h2>ESCALATED GRAPH</h2>
      </div>
      <div class="chart-section-body">
        <div class="chart-section">
          <div class="chart-container">
            <app-column-chart
              chartMode="escalated"
              [chartData]="escalatedGraph"
            >
            </app-column-chart>
          </div>
          <!-- <div class="chart-container">
            <app-line-chart chartMode="solarEmployment"></app-line-chart>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
